In [2]:
import pandas as pd
import numpy as np

In [3]:
f=pd.read_csv("Roster+Flights.csv")

# Destination Frequency: Equable distribution of destinations for Crew;

Task: To analyze all rosters and flights of pilots to define all previous destinations and give recommendations to the Planning team to assign new routes and destinations to Flight Deck;

In [4]:
f.head()

,Day,CrewMemberID,Base,Position,Gender,CrewType,FlightNo,FlightDate,Cancelled,DutyNo,...,ActualDepartureTime,ATD,ScheduledArrivalDate,ScheduledArrivalTime,STA,ActualArrivalTime,ATA,TailNumber,Fleet,AcType
0,14396,3843f606-f1bb-4a3d-ab63-b46abcf5889d,ALA,CP,M,FlightDeck,622,00:00.0,0,245705753672,...,01:00.0,61,00:00.0,40:00.0,160,48:00.0,168,P4-KEA,763,763
1,14396,9d758871-6f43-4d6e-b480-f84d78aa3d8a,ALA,FO,M,FlightDeck,622,00:00.0,0,245705753672,...,01:00.0,61,00:00.0,40:00.0,160,48:00.0,168,P4-KEA,763,763
2,14396,3d1785a4-7c68-44eb-9630-db786d59d748,ALA,PU,F,CabinCrew,910,00:00.0,0,137979572530,...,30:00.0,150,00:00.0,20:00.0,560,24:00.0,564,P4-KEC,763,763
3,14396,e69d580d-8cd4-4c25-aefd-282175a8f0e3,ALA,IS,F,CabinCrew,910,00:00.0,0,137979572530,...,30:00.0,150,00:00.0,20:00.0,560,24:00.0,564,P4-KEC,763,763
4,14396,34efa49d-a4ab-4df9-8c93-30a996d9db82,ALA,FY,F,CabinCrew,910,00:00.0,0,137979572530,...,30:00.0,150,00:00.0,20:00.0,560,24:00.0,564,P4-KEC,763,763

In [5]:
f.columns

Index(['Day', 'CrewMemberID', 'Base', 'Position', 'Gender', 'CrewType',
       'FlightNo', 'FlightDate', 'Cancelled', 'DutyNo', 'FlightPostfix',
       'DepartureAirport', 'ArrivalAirport', 'ScheduledDepartureDate',
       'ScheduledDepartureTime', 'STD', 'ActualDepartureTime', 'ATD',
       'ScheduledArrivalDate', 'ScheduledArrivalTime', 'STA',
       'ActualArrivalTime', 'ATA', 'TailNumber', 'Fleet', 'AcType'],
      dtype='object')

In [6]:
#to check unique types of crew
f.CrewType.unique()

array(['FlightDeck', 'CabinCrew'], dtype=object)

In [7]:
#first work with FlightDeck
FD = f[f.CrewType=='FlightDeck']

In [8]:
#all unique positions of Flight Deck: CP = Captain, FO = First Officier;
FD.Position.unique()

array(['CP ', 'FO ', '3P '], dtype=object)

In [9]:
#Bases where located Flight Deck
FD.Base.unique()

array(['ALA ', 'TSE '], dtype=object)

In [10]:
# Select only flight deck which based in ALA
FDALA=FD[FD['Base'].str.strip()=='ALA']

In [11]:
FDALA.head()

,Day,CrewMemberID,Base,Position,Gender,CrewType,FlightNo,FlightDate,Cancelled,DutyNo,...,ActualDepartureTime,ATD,ScheduledArrivalDate,ScheduledArrivalTime,STA,ActualArrivalTime,ATA,TailNumber,Fleet,AcType
0,14396,3843f606-f1bb-4a3d-ab63-b46abcf5889d,ALA,CP,M,FlightDeck,622,00:00.0,0,245705753672,...,01:00.0,61,00:00.0,40:00.0,160,48:00.0,168,P4-KEA,763,763
1,14396,9d758871-6f43-4d6e-b480-f84d78aa3d8a,ALA,FO,M,FlightDeck,622,00:00.0,0,245705753672,...,01:00.0,61,00:00.0,40:00.0,160,48:00.0,168,P4-KEA,763,763
8,14396,fe3a574d-6165-41fc-bb15-584932b5298d,ALA,CP,M,FlightDeck,916,00:00.0,0,137979572533,...,35:00.0,635,00:00.0,45:00.0,945,42:00.0,942,P4-MAS,752,752
9,14396,cac42385-8da8-4a13-966e-6c3902736a0f,ALA,FO,M,FlightDeck,916,00:00.0,0,137979572533,...,35:00.0,635,00:00.0,45:00.0,945,42:00.0,942,P4-MAS,752,752
14,14396,374935e9-6db2-48d3-9eeb-6c167dddffa3,ALA,CP,M,FlightDeck,910,00:00.0,0,245756019536,...,30:00.0,150,00:00.0,20:00.0,560,24:00.0,564,P4-KEC,763,763

In [12]:
#Decided do not delete columns, just selected columns which I need to analyze
FDALA = FDALA[['CrewMemberID', 'Base','Position', 'Gender', 'CrewType',
       'FlightNo', 'FlightDate', 'Cancelled', 'FlightPostfix', 'DepartureAirport', 'ArrivalAirport', 
   'TailNumber', 'Fleet', 'AcType']]

In [13]:
# All Pilots which qualified to flight on Airbus Aircrafts
Airbus = FDALA[(FDALA['Fleet'] == '320' ) 
                  | (FDALA['Fleet']== '321' ) 
                  | (FDALA['Fleet'].str.strip()== '321L' )
                  | (FDALA['Fleet']== '319' )]

In [14]:
Airbus.ArrivalAirport.unique()

array(['ALA ', 'GUW ', 'CIT ', 'TAS ', 'LED ', 'SVO ', 'KBP ', 'TSE ',
       'KZO ', 'AKX ', 'BJV ', 'PEK ', 'DXB ', 'IST ', 'FRA ', 'GYD ',
       'DYU ', 'AMS ', 'SCO ', 'TBS ', 'UKK ', 'URC ', 'URA ', 'FRU ',
       'OVB ', 'PWQ ', 'XFW ', 'AYT ', 'DEL ', 'TLS ', 'DME ', 'SVX ',
       'MRV ', 'DMB ', 'KGF ', 'HKG ', 'DWC '], dtype=object)

In [15]:
Airports = pd.read_csv("Airports.csv")

In [17]:
# All Kazakhstan's Airport
Domestic = Airports[Airports.COUNTRY=='UA']

In [18]:
Domestic.head()

,AIRPORT,ICAO,COUNTRY,TERMINAL,PORTNAM,LONGITUD,LATITUDE
8,AKX,UATT,UA,,AKTYUBINSK,E057122400,N50144500
9,ALA,UAAA,UA,,ALMATY,E077024100,N43211900
45,CIT,UAII,UA,,SHYMKENT,E069283400,N42215400
55,DMB,UADD,UA,,DZHAMBUL,E071181300,N42511300
65,DZN,UAKD,UA,,ZHEZKAZGAN,E067453300,N47431000

In [21]:
# Choose only International flights
Airbus = Airbus[~ Airbus.ArrivalAirport.isin(Domestic['AIRPORT'])]

In [22]:
Airbus.head()

,CrewMemberID,Base,Position,Gender,CrewType,FlightNo,FlightDate,Cancelled,FlightPostfix,DepartureAirport,ArrivalAirport,TailNumber,Fleet,AcType
188,b7cb3eb9-9a29-423b-9249-f9dd4a35b41f,ALA,CP,M,FlightDeck,127,00:00.0,0,,ALA,TAS,P4-KDA,321,321
190,27919674-23bb-4fbd-aed7-b6c6f24fe952,ALA,CP,M,FlightDeck,127,00:00.0,0,,ALA,TAS,P4-KDA,321,321
192,fe0d23e9-bb2d-4398-bb8d-03f0ecf710ae,ALA,FO,M,FlightDeck,127,00:00.0,0,,ALA,TAS,P4-KDA,321,321
204,eab0d2fb-8246-4454-956e-8a5f9b0952c9,ALA,CP,M,FlightDeck,129,00:00.0,0,,ALA,TAS,P4-KBD,320,320
218,f71c5052-d234-4b5d-baa9-77c4a3d08306,ALA,CP,M,FlightDeck,135,00:00.0,0,,ALA,LED,P4-NAS,321,321

In [30]:
FrequencyofAirbus = Airbus.pivot_table(index=['CrewMemberID'], columns=['ArrivalAirport'], values='Base', aggfunc='count')

In [24]:
Airbus.ArrivalAirport.unique()

array(['TAS ', 'LED ', 'SVO ', 'KBP ', 'BJV ', 'PEK ', 'DXB ', 'IST ',
       'FRA ', 'GYD ', 'DYU ', 'AMS ', 'TBS ', 'URC ', 'FRU ', 'OVB ',
       'XFW ', 'AYT ', 'DEL ', 'TLS ', 'DME ', 'SVX ', 'MRV ', 'HKG ',
       'DWC '], dtype=object)

In [31]:
#change all columns to upper case
FrequencyofAirbus.rename(columns = lambda x:x.upper(), inplace = True)

In [33]:
#all NaN change to -> 0 
FrequencyofAirbus=FrequencyofAirbus.fillna(0)

In [37]:
#convert float to int
FrequencyofAirbus=FrequencyofAirbus.astype(int)

In [40]:
#The Result for Airbus
FrequencyofAirbus

ArrivalAirport,AMS,AYT,BJV,DEL,DME,DWC,DXB,DYU,FRA,FRU,...,MRV,OVB,PEK,SVO,SVX,TAS,TBS,TLS,URC,XFW
CrewMemberID,,,,,,,,,,,,,,,,,,,,,
00ee600e-f5d7-4842-8aff-03a81ead9c09,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
012415e8-3dc7-45bb-89f3-c540653de825,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
01cb0a17-121b-47b7-9f1b-95d6a3950630,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
01f02866-2f30-4435-944e-b7372afb0774,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
05dc0011-e4a8-4eca-8ffc-6299178f8942,0,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fc804902-e6d3-418f-a647-ac2cf5656e0f,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
fce36b1d-2938-429c-9ca0-56fc80f63fdc,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
fe0d23e9-bb2d-4398-bb8d-03f0ecf710ae,1,2,0,1,0,0,1,0,1,0,...,0,0,2,4,0,1,1,0,1,0
fe3858ee-0c1c-4b5a-881e-747a38170e02,3,0,0,7,3,0,6,0,2,1,...,0,0,6,6,0,4,1,0,1,0
ff79d52e-1c46-4698-908e-0481dbdad222,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
#here the flight decks which had several flights for current destinations, send to Planning team, to do not plan this destinations to Crew
FrequencyofAirbus1=FrequencyofAirbus[FrequencyofAirbus>5]

In [69]:
FrequencyofAirbus1.to_excel("Frequency of Airbus to the last half year.xlsx")